 <ul>
           <!-- <% for (var i =0;i <items.length;i++){%>
                <li><%= items[i] %></li>
            <% }%>-->
            <% if(items.length) {%>
              <% items.forEach(function(item){ %>
                <li><%= item %></li>
              <%})%>
            <% }%>
          </ul>